CompileFlags:
  Add:
    - -Iinclude
    - -D_GNU_SOURCE
    - -Wall
    - -Wextra
    - -Wpedantic

---
If:
  PathMatch: .*\.h
CompileFlags:
  Add:
    - -xc-header
    - -std=c23

---
If:
  PathMatch: .*\.c
CompileFlags:
  Add:
    - -xc
    - -std=c23

